.menu-toggle {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
} 

/*Mobile view */
 @media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    gap: 15px;
    background: #fce1e1;
    width: 100%;
    text-align: center;
    padding: 20px 0;
  } 

   .nav-links.show {
  display: flex;
}

  .menu-toggle {
    display: block;
  }
} 
 
 



@media (max-width: 600px) {

  .navbar {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-toggle {
    display: block;
    font-size: 28px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1000;
    
  }

  .nav-links {
    display: none;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 55px;
    right: 10px;
    width: 75%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
  }

  .nav-links.active {
    display: flex;
  }
}

.nav-links li a.active {
  color: yellow !important;
  font-weight: bold;
}










/* RESPONSIVE ONLY
@media (max-width: 768px){
  .nav-links {
    flex-direction: column;
    background: #8b0000;
    width: 100%;
    padding: 20px;
    display: none;
  }

  .nav-links.active {
    display: flex; /* Show when active */
  /* }

  .menu-toggle {
    display: block;
    font-size: 25px;
    cursor: pointer;
    color: white;
  }
} */ 















