/* RESPONSIVE ONLY */
@media (max-width: 768px){
  .nav-links {
    flex-direction: column;
    background: #8b0000;
    width: 100%;
    padding: 20px;
    display: none; 
  }

  .menu-toggle {
    display: block;
    font-size: 25px;
    cursor: pointer;
    color: white;
  }
}
